<div class="title-box">
  <div class="page-title">　新規登録　</div>
</div>

<br><br><br>

<div class="sign-login-bg">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class= "text-warning">
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>
    
    <div class="w-100 text-white">

      <div class="field form-label mb-4">
        <%= f.label :nickname %> <br>( 最大文字数 10 )<br/>
        <%= f.text_field :nickname, autofocus: true, maxlength: "10", class: "signup-form p-2 pr-5" %>
      </div>

      <div class="field form-label mb-4">
        <%= f.label :email %><br>( @ が必須です )<br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "signup-form p-2" %>
      </div>

      <div class="field form-label mb-4">
        <%= f.label :password %><br>( 6 文字以上の 半角英数字 必須です )<br/>
        <%= f.password_field :password, autocomplete: "new-password", class: "signup-form p-2" %>
      </div>

      <div class="field form-label mb-4">
        <%= f.label :password（確認） %><br>( 6 文字以上の 半角英数字 必須です )<br/>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "signup-form p-2" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録する", class: "btn btn-success text-white btn-lg  mt-2" %>
      </div>

    </div>

  <% end %>

  <div class="mt-4">
    <%= render "devise/shared/links" %>
  </div>

</div>

<br><br><br><br><br><br><br>