<div class="title-box">
  <div class="page-title">走力レベル一覧</div>
</div>
<br>

<div>
  <br>
  <% @vdot_records.each do |vdot_record| %>
    <div class="d-flex">
      <div class = "five-record-logo hide-list">5km</div>
      <div class = "ten-record-logo hide-list">10km</div>
      <div class = "half-record-logo hide-list">ハーフ</div>
      <div class = "full-record-logo hide-list">フル</div>
    </div>  
    <div class="content-item p-4 mb-3 rounded vdot-record-item">
      
      <div class="vdot-number">
        <%= "vdot：#{vdot_record.vdot}" %>
      </div>  

      <div class="vdot-five-bg d-flex align-items-center justify-content-between"> 
        5km　　　&nbsp;&nbsp;
        <div>
          <%= "#{vdot_record.five_km_minute}分" %>
          <%= "#{vdot_record.five_km_second}秒" %>
        </div>
        <div></div><div></div><div></div>
      </div>

      <div class="vdot-ten-bg d-flex align-items-center justify-content-between">
        10km　　&nbsp;&nbsp;&nbsp;&nbsp;
        <div>
          <%= "#{vdot_record.ten_km_minute}分" %>
          <%= "#{vdot_record.ten_km_second}秒" %>
        </div>
        <div></div><div></div><div></div>
      </div>

      <div class="vdot-half-bg d-flex align-items-center justify-content-between">  
        ハーフ
        <div>
          <%= "#{vdot_record.half_hour}時間" %>
          <%= "#{vdot_record.half_minute}分" %>
          <%= "#{vdot_record.half_second}秒" %>
        </div>
        <div></div><div></div><div></div>
      </div>

      <div class="vdot-full-bg d-flex align-items-center justify-content-between">  
        フル&nbsp;&nbsp;&nbsp;
        <div>
          <%= "#{vdot_record.full_hour}時間" %>
          <%= "#{vdot_record.full_minute}分" %>
          <%= "#{vdot_record.full_second}秒" %>
        </div>
        <div></div><div></div><div></div>
      </div>

    </div>
  <% end %>
</div>  

<br><br><br>

<div class="title-box">
  <div class="page-title">練習目安ペース一覧</div>
</div>

  <br>

<div class="">  
  <% @vdot_paces.all.each do |vdot_pace| %>
    <div class="d-flex">
      <div class = "five-pace-logo hide-list">5km</div>
      <div class = "ten-pace-logo hide-list">10km</div>
      <div class = "half-pace-logo hide-list">ハーフ</div>
      <div class = "full-pace-logo hide-list">フル</div>
    </div>  
    <div class="vdot-pace-item content-item p-4 rounded">

      <div class="vdot-number"><%= "vdot：#{vdot_pace.vdot}" %></div>

      <div class="d-flex justify-content-between">
       &nbsp; &nbsp; J &nbsp;：
        <p><%= vdot_pace.e_pace %> /km</p>
        <div></div><div></div><div></div>
      </div>

       <div class="d-flex  justify-content-between mt-1">
        &nbsp; &nbsp; M&nbsp;：
        <p><%= vdot_pace.m_pace %> /km</p>
        <div></div><div></div><div></div>
      </div>

       <div class="d-flex align-items-center justify-content-between">
        T-40：
        <p><%=vdot_pace.t_pace_forty %> /km</p>
        <div></div><div></div><div></div>
      </div>
        <div class="d-flex align-items-center justify-content-between mt-1">
        T-20：
        <p><%=vdot_pace.t_pace_twenty %> /km</p>
       
        <div></div><div></div><div></div>
      </div>
      
    </div>
    <br>
  <% end %>
</div>