<div class="vdot-container f-f-monospace">

  <%= render "render/graph" %>

  <%= render "render/users_vdot" %>

  <br><br><br>

  <%= render "render/records_paces" %>

</div>

<% if @user.present? && @five_vdot.present? && @ten_vdot.present? && @half_vdot.present? && @full_vdot.present? %>

  <script type="text/javascript">
    const lineChartData = {
        labels : ["　　　　5km：<%= @vdot_record_five.vdot %>", "10km：<%= @vdot_record_ten.vdot %>", "ハーフ：<%= @vdot_record_half.vdot %>", " フル：<%= @vdot_record_full.vdot %>" ],
        datasets : [
          {
              label: "緑データ",
              fillColor : "rgba(237, 255, 75, 0.4)", // 線から下端までを塗りつぶす色
              strokeColor : "rgb(120,120,120)", // 折れ線の色
              pointColor : "white",  // ドットの塗りつぶし色
              pointStrokeColor : "rgb(120,120,120)",        // ドットの枠線色
              pointHighlightFill : "yellow",     // マウスが載った際のドットの塗りつぶし色
              pointHighlightStroke : "green",    // マウスが載った際のドットの枠線色
              data : [ <%= @vdot_record_five.vdot %>,
                      <%= @vdot_record_ten.vdot %>,
                      <%= @vdot_record_half.vdot %>,
                      <%= @vdot_record_full.vdot %> ]       // 各点の値
          },
        ]
    }

    window.onload = function(){
        const ctx = document.getElementById("graph-area").getContext("2d");
        window.myLine = new Chart(ctx
        ).Line(lineChartData,{
        responsive : true
        });
    };

  </script>

<% end %>

<script>
  $(function(){

    // 距離別タイム一覧
    $(".five-record-logo").hide();
    $(".ten-record-logo").hide();
    $(".half-record-logo").hide();
    $(".full-record-logo").hide();

    $(".five-record-logo").eq(<%= @five_vdot %>).show();
    $(".ten-record-logo").eq(<%= @ten_vdot %>).show();
    $(".half-record-logo").eq(<%= @half_vdot %>).show();
    $(".full-record-logo").eq(<%= @full_vdot %>).show();

    $(".five-record-logo").eq(<%= @five_vdot %>).css("background-color", "rgba(80, 228, 60, 0.4)");
    $(".ten-record-logo").eq(<%= @ten_vdot %>).css("background-color", "rgba(80, 228, 60, 0.4)");
    $(".half-record-logo").eq(<%= @half_vdot %>).css("background-color", "rgba(80, 228, 60, 0.4)");
    $(".full-record-logo").eq(<%= @full_vdot %>).css("background-color", "rgba(80, 228, 60, 0.4)");

    $(".vdot-record-item").eq(<%= @five_vdot %>).css("border", "5px solid rgb(52, 192, 33)");
    $(".vdot-record-item").eq(<%= @ten_vdot %>).css("border", "5px solid rgb(52, 192, 33)");
    $(".vdot-record-item").eq(<%= @half_vdot %>).css("border", "5px solid rgb(52, 192, 33)");
    $(".vdot-record-item").eq(<%= @full_vdot %>).css("border", "5px solid rgb(52, 192, 33)");

    $(".vdot-five-bg").eq(<%= @five_vdot %>).css("background-color", "rgba(80, 228, 60, 0.4)");
    $(".vdot-ten-bg").eq(<%= @ten_vdot %>).css("background-color", "rgba(80, 228, 60, 0.4)");
    $(".vdot-half-bg").eq(<%= @half_vdot %>).css("background-color", "rgba(80, 228, 60, 0.4)");
    $(".vdot-full-bg").eq(<%= @full_vdot %>).css("background-color", "rgba(80, 228, 60, 0.4)");


    // 目安ぺース一覧
    $(".five-pace-logo").hide();
    $(".ten-pace-logo").hide();
    $(".half-pace-logo").hide();
    $(".full-pace-logo").hide();

    $(".five-pace-logo").eq(<%= @five_vdot %>).show();
    $(".ten-pace-logo").eq(<%= @ten_vdot %>).show();
    $(".half-pace-logo").eq(<%= @half_vdot %>).show();
    $(".full-pace-logo").eq(<%= @full_vdot %>).show();

    $(".five-pace-logo").eq(<%= @five_vdot %>).css("background-color", "rgba(80, 228, 60, 0.4)");
    $(".ten-pace-logo").eq(<%= @ten_vdot %>).css("background-color", "rgba(80, 228, 60, 0.4)");
    $(".half-pace-logo").eq(<%= @half_vdot %>).css("background-color", "rgba(80, 228, 60, 0.4)");
    $(".full-pace-logo").eq(<%= @full_vdot %>).css("background-color", "rgba(80, 228, 60, 0.4)");

    $(".vdot-pace-item").eq(<%= @five_vdot %>).css("border", "5px solid rgb(52, 192, 33)");
    $(".vdot-pace-item").eq(<%= @ten_vdot %>).css("border", "5px solid rgb(52, 192, 33)");
    $(".vdot-pace-item").eq(<%= @half_vdot %>).css("border", "5px solid rgb(52, 192, 33)");
    $(".vdot-pace-item").eq(<%= @full_vdot %>).css("border", "5px solid rgb(52, 192, 33)");

  });
</script>

