<div class="title-box">
  <div class="page-title">距離別の難易度</div>
</div>
<br>

<div class="content p-5">
  <% VdotRecord.all.each do |vdot_record| %>
    <div class="row bg-light p-4 mb-3 rounded">
      <div class="">
        <%= "vdot：#{vdot_record.vdot}" %>
      </div>  
        |
      <div class="vdot-five"> 
        <%= "5km：#{vdot_record.five_km_minute}分" %>
        <%= "#{vdot_record.five_km_second}秒" %>
      </div>  
        |
      <div class="vdot-ten">  
        <%= "10km：#{vdot_record.ten_km_minute}分" %>
        <%= "#{vdot_record.ten_km_second}秒" %>
      </div>  
        |
      <div class="vdot-half">  
        <%= "ハーフ：#{vdot_record.half_hour}時間" %>
        <%= "#{vdot_record.half_minute}分" %>
        <%= "#{vdot_record.half_second}秒" %>
      </div>   
        |
      <div class="vdot-full">  
        <%= "フル：#{vdot_record.full_hour}時間" %>
        <%= "#{vdot_record.full_minute}分" %>
        <%= "#{vdot_record.full_second}秒" %>
      </div>  
    </div>
  <% end %>
</div>  
<br><br><br>

<div class="title-box">
  <div class="page-title">難易度別の練習目安ペース</div>
</div>

  <br>

<div class="content p-5">  
  <% VdotPace.all.each do |vdot_pace| %>
    <div class="d-flex">
      <div class = "five">5km</div>
      <div class = "ten">10km</div>
      <div class = "half">ハーフ</div>
      <div class = "full">フル</div>
    </div>  
    <div class="vdot-pace bg-light p-4 rounded">
      <%= "vdot：#{vdot_pace.vdot}" %>
      |
      <%= "軽いジョギング：#{vdot_pace.e_pace}" %>
      |
      <%= "フルマラソンの本番想定ペース（20km~）：#{vdot_pace.m_pace}" %>
      <br>
      <%= "ペース走（20分間または、3〜5km前後）：#{vdot_pace.t_pace_twenty}" %>
      |
      <%= "ペース走（40分間または、6〜10km前後）：#{vdot_pace.t_pace_forty}" %>
    </div>
    <br>
  <% end %>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script>
  $(function(){
    $(".five").hide();
    $(".ten").hide();
    $(".half").hide();
    $(".full").hide();
      
    $(".vdot-five").eq(<%= @five_vdot %>).css("background-color", "pink");
    $(".vdot-pace").eq(<%= @five_vdot %>).css("border", "5px solid rgb(163, 98, 18)");
    $(".five").eq(<%= @five_vdot %>).css("background-color", "pink");
    $(".five").eq(<%= @five_vdot %>).show();

    $(".vdot-ten").eq(<%= @ten_vdot %>).css("background-color", "lightgreen");
    $(".vdot-pace").eq(<%= @ten_vdot %>).css("border", "5px solid rgb(163, 98, 18)");
    $(".ten").eq(<%= @ten_vdot %>).css("background-color", "lightgreen");
    $(".ten").eq(<%= @ten_vdot %>).show();


    $(".vdot-half").eq(<%= @half_vdot %>).css("background-color", "lightblue");
    $(".vdot-pace").eq(<%= @half_vdot %>).css("border", "5px solid rgb(163, 98, 18)");
    $(".half").eq(<%= @half_vdot %>).css("background-color", "lightblue");
    $(".half").eq(<%= @half_vdot %>).show();

    $(".vdot-full").eq(<%= @full_vdot %>).css("background-color", "yellow");
    $(".vdot-pace").eq(<%= @full_vdot %>).css("border", "5px solid rgb(163, 98, 18)");
    $(".full").eq(<%= @full_vdot %>).css("background-color", "yellow");
    $(".full").eq(<%= @full_vdot %>).show();

  });
</script>