<div class="back-ground">

  <div class="slide-content row justify-content-between">

    <div class="slide-image">
      <ul class="slider mt-5">
        <li>
          <img src="/images/place_image.png" alt="slick-img">
        </li>
        <li>
          <img src="/images/google_map.png" alt="slick-img">
        </li>
        <li>
          <img src="/images/f_menu.png" alt="slick-img">
        </li>
        <li>
          <img src="/images/graph.png" alt="slick-img">
        </li>
      </ul>
    </div>

    <div class="slide-text">
      <h4>もうランニングで悩まない！</h4><br><br>
      いつも近所でランニング、飽きた！<br>
      大会にエントリーしたけど何していいの？<br>
      ランニングのアプリ使ってるけど、<br>
      ◯kmを◯分かかって、1kmあたり◯秒ペース、<br>
      これってどうなの？<br>
      こんな悩みを持つ方にぴったりのサービスです。<br>
      気になる<strong class="text-dark">ランニングコース</strong>が見つかるかもしれません。<br>
      いつもと違う場所でランニングを楽しもう！<br><br>
      また、適切な練習がわからない方、<br>
      まずは<strong class="text-dark">ベストタイムを登録</strong>しましょう。<br>
      <strong class="text-dark">練習メニューや走力レベル</strong>を確認できます。<br><br>
    </div>

    <div></div>

  </div>

  <br><br><br>

  <div class="slide-border">
  </div>

  <div class="d-flex justify-content-center">
    <div class="search-group">
      <%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |f| %>
      <div class="d-flex align-items-center justify-content-center w-100">
          <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "search-input p-2 ml-4" %>
          <button type="submit" class="search-btn link"><i class="fas fa-search"></i></button>
      </div>
      <% end %>

      <br>

      <% @tag_lists.each do |tag| %>
        <%= link_to tag_tweets_path(tag_id: tag.id) do %>
          <span class="tag text-dark"><%= "＃#{tag.name}" %></span>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= render "render/tweets_main_contents"%>

  <% if user_signed_in? %>
    <div class='fixed-btn'>
      <%= link_to new_tweet_path  do %>
        <div class='fixed-btn-text'>コースを投稿<i class="fa fa-angle-right ml-2" aria-hidden="true"></i></div>
      <% end %>
    </div>
  <% else %>
    <div class='fixed-btn'>
      <%= link_to new_user_session_path  do %>
        <div class='fixed-btn-text'>かんたんログイン<i class="fa fa-angle-right ml-2" aria-hidden="true"></i></div>
      <% end %>
    </div>
  <% end %>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-carousel@0.18.0/dist/vue-carousel.min.js"></script>
<script>

</script>