<div class="back-ground">

  <% if flash[:notice_tweet_new] %>
    <p class="flash-message"><%= flash[:notice_tweet_new] %></p>
  <% end %>
  <% if flash[:notice_tweet_destroy] %>
    <p class="flash-message"><%= flash[:notice_tweet_destroy] %></p>
  <% end %>
  <% if flash[:notice_tweet_edit] %>
    <p class="flash-message"><%= flash[:notice_tweet_edit] %></p>
  <% end %>
  
  <div class="slide-content d-flex">

    <div class="slide-image">
      <div class="slide-title">
       <%# もうランニングに迷わない！ %>
      </div> 
      <ul class="slider mt-5">
        <li>
          <img src="/images/place1-lg.png" alt="slick-img">
        </li>
        <li>
          <img src="/images/place2-lg.png" alt="slick-img">
        </li>
        <li>
          <img src="/images/place3-lg.png" alt="slick-img">
        </li>
      </ul>
    </div>

    <div class="slide-text">
      <h4>もうランニングで悩まない！</h4><br><br>
      いつも近所でランニング、飽きてきてモチベーション上がらないなぁ。<br>
      大会にエントリーしたけど何していいか分からない。<br>
      ランニングのアプリ使ってるけど、◯kmを◯分かかって、<br>
      1kmあたり◯秒ペース、これってどうなの？<br><br>
      <strong>Run Record</strong> はこんな悩みを持つ方にぴったり！<br>
      あなたの近所にある<strong>隠れたランニングコース</strong>が見つかるかもしれません。<br>
      お休みの日にちょっと遠出してみるのも良いでしょう。<br><br>
      またどれくらいの距離・ペースで走っていいか分からない方、<br>
      <strong>ベストタイムを登録</strong>するだけであなたの目的に<strong>最適なペース</strong>が表示されます。<br><br>
    </div>

  </div>  

  <br><br><br>

  <div class="tweet-index-container">

    <div class="rounded">

      <% if user_signed_in? %>
        <%= link_to new_tweet_path  do %>
          <p>
            <button type="button" class="btn btn-success btn-lg">みんなにお気に入りコースを教えてあげよう！</button>
          </p>
        <% end %>
      <% end %>


      <%= render "render/tweets"%> 


    </div>

  </div>   

</div>  





