<br>

<% if flash[:notice_tweet_new] %>
  <p class="flash-message"><%= flash[:notice_tweet_new] %></p>
<% end %>
<% if flash[:notice_tweet_destroy] %>
  <p class="flash-message"><%= flash[:notice_tweet_destroy] %></p>
<% end %>
<% if flash[:notice_tweet_edit] %>
  <p class="flash-message"><%= flash[:notice_tweet_edit] %></p>
<% end %>

<div class="top-title">

    <div class="top-title-left">
      <div>Welcome&nbsp;</div>
      <div>to</div>
    </div>  

    <div class="top-title-right">
        <div>Run&nbsp;</div>
        <div>Record</div>
    </div>

</div>

<br><br><br><br><br><br><br>
<h2 class="bg-secondary p-3 text-white rounded">アニメーション予定</h2>
<br><br><br><br><br>

<div class="content bg-transparent p-5 rounded">

  <% if user_signed_in? %>
    <%= link_to new_tweet_path  do %>
      <p>
        <button type="button" class="btn btn-success btn-lg">投稿する</button>
      </p>
    <% end %>
    <br>
  <% end %>

  <% @tweets.each do |tweet| %>
    <div class="bg-content-item p-2 mb-5 rounded">
      <div class="h5 link">
        <%= link_to "#{tweet.content}", tweet_path(tweet.id), class: "link" %><br>
      </div>  
      <div class="text-right">
        投稿者：
        <% if user_signed_in? != true || current_user.id != tweet.user_id %>
          <%= link_to "#{tweet.user.nickname}", user_path(tweet.user_id), class: "link" %>
        <% else %>
          <%= link_to "あなた", user_path(tweet.user_id), class: "link" %>
        <% end %>
      </div>
    </div>  
    
  <% end %>
</div> 
