<div class="back-ground">

  <% if flash[:notice_tweet_new] %>
    <p class="flash-message"><%= flash[:notice_tweet_new] %></p>
  <% end %>
  <% if flash[:notice_tweet_destroy] %>
    <p class="flash-message"><%= flash[:notice_tweet_destroy] %></p>
  <% end %>
  <% if flash[:notice_tweet_edit] %>
    <p class="flash-message"><%= flash[:notice_tweet_edit] %></p>
  <% end %>
  
  <div class="slide-content row justify-content-between">

    <div class="slide-image ">
      <ul class="slider mt-5">
        <li>
          <img src="/images/place_image.png" alt="slick-img">
        </li>
         <li>
          <img src="/images/google_map.png" alt="slick-img">
        </li>
        <li>
          <img src="/images/f_menu.png" alt="slick-img">
        </li>
        <li>
          <img src="/images/graph.png" alt="slick-img">
        </li>
      </ul>
    </div>

    <div class="slide-text">
      <h4>もうランニングで悩まない！</h4><br><br>
      いつも近所でランニング、飽きた！<br>
      大会にエントリーしたけど何していいの？<br>
      ランニングのアプリ使ってるけど、<br>
      ◯kmを◯分かかって、1kmあたり◯秒ペース、<br>
      これってどうなの？<br><br>
      <strong>Run Record</strong> はこんな悩みを持つ方にぴったり！<br>
      あなたの近所にある<strong>隠れたランニングコース</strong>が<br>
      見つかるかもしれません。<br>
      お休みの日にちょっと遠出してみるのも良いでしょう。<br><br>
      また、適切な練習がわからない方、<br>
      <strong>ベストタイムを登録</strong>するだけであなたの目的に<strong><br>
      最適なペース</strong>が距離別で表示されます。<br><br>
    </div>

    <div></div>

  </div>  

  <br><br><br>

    <div class="rounded">

      <% if user_signed_in? %>
        <%= link_to new_tweet_path  do %>
          <p  class="tweet-btn">
            <button type="button" class="btn btn-success btn-lg">お気に入りコースを<br>シェアしよう！</button>
          </p>
        <% end %>
      <% end %>


      <%= render "render/tweets"%> 


    </div> 

</div>  





