<div class="tweet-show-container f-f-monospace">
  <div class="">

    <div class="">
      <div>
        <img src=<%= @tweet.place_image %> class = "tweet-show-place-image">
      </div>

      <div class="tweet-show-place-name mb-5">
          <%= @tweet.place_name %>
      </div>

      <div class="tweet-show-place-info">
        <div class="d-flex align-items-end user-group">
          <div>
            <%= @tweet.created_at.to_s(:datetime_jp) %>
          </div>
          <%= link_to @tweet.user, class: "link" do %>
            <div class="d-flex align-items-end tweet-show-profile">
              <div class="tweet-show-image">
                <% if @tweet.user.image.present? %>
                  <img src=<%= @tweet.user.image %> class = "tweet-show-image-icon">
                <% else %>
                    <img src="/images/dog2.png" class = "tweet-show-image-icon">
                <% end %>
              </div>
              <div class="tweet-user">
                <%= @tweet.user.nickname %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="d-flex tweet-show-btns">
          <% if current_user&.id == @tweet.user_id %>
            <div class="">
              <%= link_to edit_tweet_path(@tweet.id) do %>
                <button type="button" class="tweet-show-btn btn btn-success text-white btn-lg">編集</button>
              <% end %>
            </div>

            <div class="tweet-show-delete-btn">
              <%= link_to @tweet, method: :delete do %>
                <button type="button" class="tweet-show-btn btn bg-dark text-white btn-lg">削除</button>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="parent">
        <div class="tweet-show-place-texts">
          <%= @tweet.content %>
        </div>
      </div>

      <div class="message-container">
        <div class="titles mb-1">コメント一覧</div>
        <br>

        <% if user_signed_in? %>
          <%= form_with url: tweet_messages_path(@tweet.id) do |f| %>
            <div class="massage-form-group mt-3 d-flex align-items-center">
              <div>
                <%= f.text_area :text, placeholder: "コメントを入力", class: "massage-form p-2 rounded" %>
              </div>
              <div class="record-item">
                <%= f.submit "コメント", class: "record-item btn btn-success text-white" %>
              </div>
            </div>
          <% end %>
        <% end %>

        <% unless @tweet_messages.present? %>
          <div class="message">
            この投稿へのコメントはありません
          </div>
        <% end %>

        <div id='messages'>
          <% @tweet_messages.each do |message| %>
            <div class="message">
              <%= message.text %>
              <br>

              <div class="text-right">
                <span class="post-time-message"><%= message.created_at.to_s(:datetime_jp) %></span>
                <% if message.user == current_user %>
                    <%= link_to "あなた", message.user, class: "link message-user" %>
                <% else %>
                    <%= link_to "#{message.user.nickname}さん", message.user, class: "link message-user" %>
                <% end %>
                のコメントです
              </div>

            </div>
          <% end %>
        </div>
      </div>
      <br><br><br>

      <div class="address">
        <strong>　　住所 ：　</strong><%= @tweet.address %>
      <div id='map' class="map"></div>

      </div>
    </div>

  </div>
</div>


<script type="text/javascript">
    function initMap() {

        var test ={ lat: <%= @tweet.latitude %>, lng: <%= @tweet.longitude %> };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @tweet.address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>

