<h4>投稿詳細ページ</h4>
<br><br><br>

<p>
  <%= link_to "(投稿者：#{@tweet.user.nickname})", user_path(@tweet.user_id) %>
</p>

<h2><%= @tweet.content%></h2>
<br><br><br>

<% if user_signed_in? && current_user.id == @tweet.user_id %>
  <%= link_to tweet_path(@tweet.id), method: :delete do %>
    <p>
      <button type="button" class="btn btn-primary btn-lg">削除する</button>
    </p>
  <% end %>
  <%= link_to edit_tweet_path(@tweet.id) do %>
    <p>
      <button type="button" class="btn btn-primary btn-lg">編集する</button>
    </p>
  <% end %>
<% end %>


<%= form_with url: tweet_messages_path(@tweet.id) do |f| %>
  <%= f.text_field :text, placeholder: "コメントを入力" %>
  <%= f.submit '送信' %>
<% end %>

<br><br><br>  
<h5>＜コメント一覧＞</h5>
<br>
  <div id='messages'>
    <% @messages.reverse_each do |message| %>
      <% if @tweet.id == message.tweet_id%>
        <p>
          <%= message.text %><br>
          <% if user_signed_in? != true || current_user.id != message.user_id %>
            <%= link_to "#{message.user.nickname}さん", user_path(message.user_id) %>
          <% else %>
            <%= link_to "あなた", user_path(message.user_id) %>
          <% end %> 
          のコメントです<br><br>
        </p>
      <% end %>  
    <% end %>
  </div>