<br>

<div class="content-item p-5 rounded">
      <div class="h3">
        <%= @tweet.content %>
      </div>  
      <div class="text-right">
        投稿者：
          <%= link_to "#{@tweet.user.nickname}", user_path(@tweet.user_id), class: "link" %>
      </div>
</div>

<br><br>

<div class="d-flex">
    <% if user_signed_in? && current_user.id == @tweet.user_id %>
      <div class="m-2"> 
        <%= link_to edit_tweet_path(@tweet.id) do %>
          <button type="button" class="btn btn-success text-white btn-lg">編集する</button>
        <% end %>
      </div>    
     
      <div class="m-2">
        <%= link_to tweet_path(@tweet.id), method: :delete do %>
          <button type="button" class="btn btn-success text-white btn-lg">削除する</button>
        <% end %>
      </div>    
    <% end %>      
</div>
            
            

<br><br><br>


<br><br><br>


<div class="title-box pb-0">
  <div class="page-title pb-2">コメント一覧</div>
</div> 

<br><br><br>

<% if user_signed_in? %>
  <%= form_with url: tweet_messages_path(@tweet.id) do |f| %>
  <div class="d-flex align-items-center">
    <div class="w-50">
      <%= f.text_area :text, placeholder: "コメントを入力", class: "p-2 w-100 rounded ml-2" %>
    </div>  
    <div class="record-item">
      <%= f.submit "コメント", class: "btn btn-success text-white p-3 ml-5" %>
    </div>
  </div>  
  <% end %>
<% end %>



<br>

<div class="content p-5">
  <div id='messages'>
    <% @messages.reverse_each do |message| %>
      <% if @tweet.id == message.tweet_id%>
        <div class="bg-content-item p-2 mb-4 rounded">
          <%= message.text %><br>
          <% if user_signed_in? != true || current_user.id != message.user_id %>
            <div class="text-right">
              <%= link_to "#{message.user.nickname}さん", user_path(message.user_id), class: "link" %>
              のコメントです
            </div>  
          <% else %>
            <div class="text-right">
              <%= link_to "あなた", user_path(message.user_id), class: "link" %>
              のコメントです
            </div>  
          <% end %> 
        </div>
      <% end %>  
    <% end %>
  </div>
</div>  