<div class="user-container">

    <div class="user-introduction-content d-flex justify-content-around">
        <div class="user-profile d-flex">
            <div class="show-image">
                <% if @user.image.present? %>
                    <img src=<%= @user.image %> class = "icon_image">
                <% else %>
                    <img src="/images/dog2.png" class = "icon_image">
                <% end %>
            </div>

            <div>
                <div class="user-show-name text-left ml-4">
                    <%= @user.nickname %>
                </div>
                <div class="d-flex justify-content-between ml-2">
                    <div class="d-flex">
                        <%= link_to following_user_path(@user), class: "nav-link text-dark" do %>
                            <strong><%= "#{@user.followings.count}" %></strong>フォロー中
                        <% end %>
                        <%= link_to followers_user_path(@user), class: "nav-link text-dark" do %>
                                <strong><%= "#{@user.followers.count}" %></strong>フォロワー
                        <% end %>
                    </div>
                    <div class="">
                        <% if user_signed_in? && @user != current_user%>
                            <div id="follow_form">
                                <% if current_user.following?(@user) %>
                                <%= render "unfollow" %>
                                <% else %>
                                <%= render "follow" %>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
                <div class="text-left ml-4 mt-3">
                    <%= @user.introduction %>
                </div>
            </div>
        </div>
        <% if @user.id == current_user&.id && @user.email != 'thank@you' %>
            <div class="m-2 mb-5 mt-5">
                <%= link_to edit_user_registration_path(@user) do %>
                    <button type="button" class="btn btn-success text-white nav-link"><i class="fa fa-edit mr-1" aria-hidden="true"></i>マイページの編集</button>
                <% end %>
            </div>
        <% end %>
        <div></div>
        <div></div>
    </div>

    <div class="user-show-border"></div>

    <div class="user-record-content row justify-content-between">
        <div class="col-lg-3">
            <div class="user-show-title">
                ベストタイム
            </div>
            <div class="text-right mt-1">
                <% if user_signed_in? && @user.id == current_user.id %>
                    <%= link_to new_record_path, class: "text-success" do %>
                        <i class="fa fa-pen" aria-hidden="true"></i>登録
                    <% end %>
                    <%= link_to edit_record_path, class: "text-success" do %>
                        <i class="fa fa-edit ml-3" aria-hidden="true"></i>編集
                    <% end %>
                <% else %>
                    <br>
                <% end %>
            </div>

            <div class="user-record-group">
                <div class="d-flex align-items-center justify-content-between mt-2 mb-3">
                    5km
                    <div>
                        <% if FiveKmRecord.where(user_id: params[:id]).present? %>
                            <%= "#{@five_record.minute[:name]}分" %>
                            <%= "#{@five_record.second[:name]}秒" %>
                        <% end %>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-3">
                    10km
                    <div>
                        <% if TenKmRecord.where(user_id: params[:id]).present? %>
                            <%= "#{@ten_record.minute[:name]}分" %>
                            <%= "#{@ten_record.second[:name]}秒" %>
                        <% end %>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-3">
                    ハーフ
                    <div>
                        <% if HalfRecord.where(user_id: params[:id]).present? %>
                            <%= "#{@half_record.hour[:name]}時間" %>
                            <%= "#{@half_record.minute[:name]}分" %>
                            <%= "#{@half_record.second[:name]}秒" %>
                        <% end %>
                    </div>
                </div>

                <div class="d-flex align-items-center justify-content-between mb-3">
                    フル
                    <div>
                        <% if FullRecord.where(user_id: params[:id]).present? %>
                            <%= "#{@full_record.hour[:name]}時間" %>
                            <%= "#{@full_record.minute[:name]}分" %>
                            <%= "#{@full_record.second[:name]}秒" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex">
            <div class="graph-group">
                <div class="user-show-title">
                    走力グラフ
                </div>
                <div>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js" type="text/javascript"></script>
                    <div class="graph-area-parent">
                        <canvas id="graph-area" height="3" width="10"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="runner-levels">
            <div class="runner-title">
                <strong>25：最強ランナー</strong>
                    <i class="fas fa-running user-show-hide"></i>
                    <br>
                <span class="ml-2">
                    市民ランナー上位3％(男性), 0.1％未満(女性)
                </span>
            </div>

            <div class="runner-title mt-2">
                <strong>20：プロランナー</strong>
                    <i class="fas fa-running user-show-hide"></i>
                    <br>
                <span class="ml-2">
                    市民ランナー上位12％(男性), 1％(女性)
                </span>
            </div>

            <div class="runner-title mt-2">
                <strong>15：スーパーランナー</strong>
                    <i class="fas fa-running user-show-hide"></i>
                    <br>
                <span class="ml-2">
                    市民ランナー上位12％(男性), 3％(女性)
                </span>
            </div>

            <div class="runner-title mt-2">
                <strong>10：ベテランランナー</strong>
                    <i class="fas fa-running user-show-hide"></i>
                    <br>
                <span class="ml-2">
                    市民ランナー上位30％(男性), 10％(女性)
                </span>
            </div>

            <div class="runner-title mt-2">
                <strong>5：アマチュアランナー</strong>
                    <i class="fas fa-running user-show-hide"></i>
                    <br>
                <span class="ml-2">
                    市民ランナー上位45％(男性), 30％(女性)
                </span>
            </div>

            <div class="runner-title mt-2">
                <strong>1：駆け出しランナー</strong>
                    <i class="fas fa-running user-show-hide"></i>
                    <br>
                <span class="ml-2">
                    一緒に練習を頑張っていきましょう！
                </span>
            </div>
        </div>
    </div>

    <div>
        <div class="practice-title">
            次はこの記録にチャレンジ！
        </div>
        <div class="d-flex practice-records">
            <div class="ml-5 mr-5 text-center">
                <strong>5km</strong><br>
                <% if @vdot_record_five.present? %>
                <%= "#{@vdot_record_five.five_km_minute}分" %>
                <%= "#{@vdot_record_five.five_km_second}秒" %>
                <% end %>
            </div>
            <div class="ml-4 mr-5 text-center">
                <strong>10km</strong><br>
                <% if @vdot_record_ten.present? %>
                <%= "#{@vdot_record_ten.ten_km_minute}分" %>
                <%= "#{@vdot_record_ten.ten_km_second}秒" %>
                <% end %>
            </div>
            <div class="ml-2 mr-4 text-center">
                <strong>ハーフ</strong><br>
                <% if @vdot_record_half.present? %>
                <%= "#{@vdot_record_half.half_hour}分" %>
                <%= "#{@vdot_record_half.half_minute}分" %>
                <%= "#{@vdot_record_half.half_second}秒" %>
                <% end %>
            </div>
            <div class="ml-3 text-center">
                <strong>フル</strong><br>
                <% if @vdot_record_full.present? %>
                <%= "#{@vdot_record_full.full_hour}分" %>
                <%= "#{@vdot_record_full.full_minute}分" %>
                <%= "#{@vdot_record_full.full_second}秒" %>
                <% end %>
            </div>
        </div>
    </div>

    <%# 練習メニュー %>
    <%= render "render/user_show_practice" %>

    <br>

    <div class="user-bottom-container p-2 pt-5 pb-3 rounded">

        <%# ユーザー(params:id)の投稿一覧 %>
        <%= render "render/tweets_all_contents" %>

    </div>

</div>

<%# マイページのJS %>
<%= render "js" %>