<div class="user-container">

    <%# ↓プロフィール（画像・フォロー・自己紹介分） %>
    <div class="user-profile">
        <div class="show-image">
            <% if @user.image.present? %>
                <img src=<%= @user.image %> class = "icon_image">
            <% else %>
                <img src="/images/dog2.png" class = "icon_image">
            <% end %>
        </div>

        <div class="user-introduction">
            <div class="user-show-name">
                <%= @user.nickname %>
            </div>
            <div class="user-follow-group">
                <div class="d-flex follow-count">
                    <span class="follow nav-link text-dark">
                        <strong><%= "#{@user.followings.count}" %></strong>
                        フォロー中
                    </span>
                     <span class="follow nav-link text-dark">
                        <strong><%= "#{@user.followers.count}" %></strong>
                        フォロワー
                    </span>
                </div>
                <div class="user-top-btn">
                    <% if user_signed_in? && @user != current_user%>
                        <div id="follow_form">
                            <% if current_user.following?(@user) %>
                            <%= render "unfollow" %>
                            <% else %>
                            <%= render "follow" %>
                            <% end %>
                        </div>
                    <% elsif @user.id == current_user&.id && @user.email != 'thank@you' %>
                        <div class="mb-5 ml-4">
                            <%= link_to edit_user_registration_path(@user) do %>
                                <button type="button" class="user-edit-btn btn btn-success text-white nav-link">
                                    <i class="fa fa-edit mr-1" aria-hidden="true"></i>
                                    プロフィールの編集
                                </button>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="user-introduction-text">
                <%= @user.introduction %>
            </div>
        </div>
    </div>
    <%# ↑プロフィール（画像・フォロー・自己紹介分） %>

    <div class="user-show-border"></div>

    <%# ↓ベストタイム・グラフ・称号 %>
    <div class="user-record-container row">
        <div class="user-record-content col-lg-4">
            <div class="user-show-title">
                ベストタイム
            </div>
            <div class="text-right mt-1">
                <% if user_signed_in? && @user.id == current_user.id %>
                    <%= link_to new_record_path, class: "text-success" do %>
                        <i class="fa fa-pen" aria-hidden="true"></i>登録
                    <% end %>
                    <%= link_to edit_record_path, class: "text-success" do %>
                        <i class="fa fa-edit ml-3" aria-hidden="true"></i>編集
                    <% end %>
                <% else %>
                    <br>
                <% end %>
            </div>

            <div class="user-record-group">
                <div class="user-record mt-2 mb-3">
                    5km
                    <div>
                        <% if FiveKmRecord.where(user_id: params[:id]).present? %>
                            <%= "#{@five_record.minute[:name]}分" %>
                            <%= "#{@five_record.second[:name]}秒" %>
                        <% end %>
                    </div>
                </div>

                <div class="user-record mb-3">
                    10km
                    <div>
                        <% if TenKmRecord.where(user_id: params[:id]).present? %>
                            <%= "#{@ten_record.minute[:name]}分" %>
                            <%= "#{@ten_record.second[:name]}秒" %>
                        <% end %>
                    </div>
                </div>

                <div class="user-record mb-3">
                    ハーフ
                    <div>
                        <% if HalfRecord.where(user_id: params[:id]).present? %>
                            <%= "#{@half_record.hour[:name]}時間" %>
                            <%= "#{@half_record.minute[:name]}分" %>
                            <%= "#{@half_record.second[:name]}秒" %>
                        <% end %>
                    </div>
                </div>

                <div class="user-record mb-3">
                    フル
                    <div>
                        <% if FullRecord.where(user_id: params[:id]).present? %>
                            <%= "#{@full_record.hour[:name]}時間" %>
                            <%= "#{@full_record.minute[:name]}分" %>
                            <%= "#{@full_record.second[:name]}秒" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="user-show-title">
                走力グラフ
            </div>
            <div class="graph-group">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js" type="text/javascript"></script>
                <div class="graph-area-parent">
                    <canvas id="graph-area"></canvas>
                </div>
            </div>
        </div>

        <div class="runner-titles">
            <div class="runner-title mt-4">
                <strong>25：最強ランナー</strong>
                    <i class="fas fa-running user-show-hide"></i>
                    <br>
                <span class="ml-2">
                    市民ランナー上位3％(男性), 1％未満(女性)
                </span>
            </div>

            <div class="runner-title">
                <strong>20：プロランナー</strong>
                    <i class="fas fa-running user-show-hide"></i>
                    <br>
                <span class="ml-2">
                    市民ランナー上位6％(男性), 3％(女性)
                </span>
            </div>

            <div class="runner-title">
                <strong>15：スーパーランナー</strong>
                    <i class="fas fa-running user-show-hide"></i>
                    <br>
                <span class="ml-2">
                    市民ランナー上位12％(男性), 6％(女性)
                </span>
            </div>

            <div class="runner-title">
                <strong>10：ベテランランナー</strong>
                    <i class="fas fa-running user-show-hide"></i>
                    <br>
                <span class="ml-2">
                    市民ランナー上位30％(男性), 10％(女性)
                </span>
            </div>

            <div class="runner-title">
                <strong>5：アマチュアランナー</strong>
                    <i class="fas fa-running user-show-hide"></i>
                    <br>
                <span class="ml-2">
                    市民ランナー上位45％(男性), 30％(女性)
                </span>
            </div>

            <div class="runner-title">
                <strong>1：駆け出しランナー</strong>
                    <i class="fas fa-running user-show-hide"></i>
                    <br>
                <span class="ml-2">
                    一緒に練習を頑張っていきましょう！
                </span>
            </div>
        </div>
    </div>
    <%# ↑ベストタイム・グラフ・称号 %>

    <div class="user-show-vdot-btn">
      <%= link_to user_vdots_path(@user) do %>
        <button type="button" class="user-show-vdot-btn-text btn btn-success text-white nav-link text-center mt-5">
            <%= @user.nickname %>の走力を一覧表で確認
            <i class="fa fa-angle-right ml-2" aria-hidden="true"></i>
        </button>
      <% end %>
    </div>

    <%# ↓目指すタイムと達成するための練習メニュー %>
    <div class="next-record-group">
        <div class="next-record-title">
            次はこの記録にチャレンジ！
        </div>
        <div class="practice-records">
            <div class="text-center">
                <div class="practice-record">
                    <div><strong>5km</strong></div>
                    <div>
                        <% if @vdot_record_five.present? %>
                        <%= "#{@vdot_record_five.five_km_minute}分" %>
                        <%= "#{@vdot_record_five.five_km_second}秒" %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="practice-record">
                    <div><strong>10km</strong></div>
                    <div>
                        <% if @vdot_record_ten.present? %>
                        <%= "#{@vdot_record_ten.ten_km_minute}分" %>
                        <%= "#{@vdot_record_ten.ten_km_second}秒" %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="practice-record">
                    <div><strong>ハーフ</strong></div>
                    <div>
                        <% if @vdot_record_half.present? %>
                        <%= "#{@vdot_record_half.half_hour}分" %>
                        <%= "#{@vdot_record_half.half_minute}分" %>
                        <%= "#{@vdot_record_half.half_second}秒" %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="practice-record">
                    <div><strong>フル</strong></div>
                    <div>
                        <% if @vdot_record_full.present? %>
                        <%= "#{@vdot_record_full.full_hour}分" %>
                        <%= "#{@vdot_record_full.full_minute}分" %>
                        <%= "#{@vdot_record_full.full_second}秒" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%# ↑目指すタイムと達成するための練習メニュー %>

    <%# 練習メニュー %>
    <%= render "render/user_show_practice" %>

     <%# ユーザー(params:id)の投稿一覧 %>
    <div class="user-bottom-container p-2 pt-5 pb-3 rounded">
        <div class="recommended-tweets-title text-center mt-5">
            <%= @user.nickname %>の投稿一覧
        </div>

        <%= render "render/tweets_all_content" %>

    </div>

</div>

<%# マイページのJS %>
<%= render "js" %>

<%# // 投稿にカーソルを重ねると説明文表示 %>
<%= render "render/tweets_table_content" %>
<%#  %>