<h4><%= @nickname %>さんのマイページ</h4>

<p>
    <%= link_to "自己ベスト登録", new_record_path %>
</p>
<p>
    <%= link_to "自己ベスト編集", edit_record_path %>
</p>

<br><br><br><br><br><br>

<h5>＜<%= @nickname %>さんの投稿一覧＞</h5>
<% @tweets.each do |tweet| %>
    <p><%= link_to "#{tweet.content}", tweet_path(tweet.id) %></p>
<% end %>