<div class="back-ground pt-5">

  <% if FiveKmRecord.where(user_id:current_user.id).present? %>
    <div class="p-5">
      <%= form_with url: user_five_km_record_path(current_user), method: :put, local: true do |f| %>
        <div class="mt-5">
          <div class="titles record-title">5kmのベストタイム</div>

          <br>

          <div class="record-content">
            <div class="record-items text-dark">
              <div class="record-item mr-3 mt-3">
                <%= f.collection_select(:minute_id, Minute.all, :id, :name, {selected: @five_record.minute_id }, class: "p-2") %>：分
              </div>
              <div class="record-item mr-4  mt-3">
                <%= f.collection_select(:second_id, Second.all, :id, :name, {selected: @five_record.second_id }, class: "p-2") %>：秒
              </div>
            </div>

            <div class="record-item mt-3">
              <%= f.submit "編集", class: "btn btn-success text-white nav-link" %>
            </div>
            <div class="record-item  mt-3">
              <%= link_to  user_five_km_record_path(current_user), method: :delete do %>
                <button type="button" class="btn text-white nav-link btn-secondary user-show-delete-btn link">削除</button>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  <% end %>

  <% if TenKmRecord.where(user_id:current_user.id).present? %>
    <div class="p-5">
      <%= form_with url: user_ten_km_record_path(current_user), method: :put, local: true do |f| %>
        <div class="">
          <div class="titles record-title">10kmのベストタイム</div>

          <br>

          <div class="record-content">
            <div class="record-items text-dark">
              <div class="record-item mr-3 mt-3">
                <%= f.collection_select(:minute_id, Minute.all, :id, :name, {selected: @ten_record.minute_id }, class: "p-2") %>：分
              </div>
              <div class="record-item mr-4 mt-3">
                <%= f.collection_select(:second_id, Second.all, :id, :name, {selected: @ten_record.second_id }, class: "p-2") %>：秒
              </div>
            </div>

            <div class="record-item mt-3">
              <%= f.submit "編集", class: "btn btn-success text-white nav-link" %>
            </div>
            <div class="record-item mt-3">
              <%= link_to  user_ten_km_record_path(current_user), method: :delete do %>
                <button type="button" class="btn text-white nav-link btn-secondary user-show-delete-btn link">削除</button>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  <% end %>

  <% if HalfRecord.where(user_id:current_user.id).present? %>
    <div class="p-5">
      <%= form_with url: user_half_record_path(current_user), method: :put, local: true do |f| %>
        <div class="">
          <div class="titles record-title">ハーフのベストタイム</div>

          <br>

          <div class="record-content">
            <div class="record-items text-dark">
              <div class="record-item mr-3 mt-3">
                <%= f.collection_select(:hour_id, Hour.all, :id, :name, {selected: @half_record.hour_id }, class: "p-2") %>　: 時間
              </div>
              <div class="record-item mr-3 mt-3">
                <%= f.collection_select(:minute_id, Minute.where(id:[*0..59]), :id, :name, {selected: @half_record.minute_id }, class: "p-2") %>：分
              </div>
              <div class="record-item mr-4 mt-3">
                <%= f.collection_select(:second_id, Second.all, :id, :name, {selected: @half_record.second_id }, class: "p-2") %>：秒
              </div>
            </div>

            <div class="record-item mt-3">
              <%= f.submit "編集", class: "btn btn-success text-white nav-link" %>
            </div>
            <div class="record-item mt-3">
              <%= link_to  user_half_record_path(current_user), method: :delete do %>
                <button type="button" class="btn text-white nav-link btn-secondary user-show-delete-btn link">削除</button>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  <% end %>

  <% if FullRecord.where(user_id:current_user.id).present? %>
    <div class="p-5">
      <%= form_with url: user_full_record_path(current_user), method: :put, local: true do |f| %>
        <div class="mb-5">
          <div class="titles record-title">フルのベストタイム</div>

          <br>

          <div class="record-content">
            <div class="record-items text-dark">
              <div class="record-item mr-3 mt-3">
                <%= f.collection_select(:hour_id, Hour.all, :id, :name, {selected: @full_record.hour_id }, class: "p-2") %>　: 時間
              </div>
              <div class="record-item mr-3 mt-3">
                <%= f.collection_select(:minute_id, Minute.where(id:[*0..59]), :id, :name, {selected: @full_record.minute_id }, class: "p-2") %>：分
              </div>
              <div class="record-item mr-4 mt-3">
                <%= f.collection_select(:second_id, Second.all, :id, :name, {selected: @full_record.second_id }, class: "p-2") %>：秒
              </div>
             </div>

              <div class="record-item mt-3">
                <%= f.submit "編集", class: "btn btn-success text-white nav-link" %>
              </div>
              <div class="record-item mt-3">
                <%= link_to  user_full_record_path(current_user), method: :delete do %>
                  <button type="button" class="btn text-white nav-link btn-secondary user-show-delete-btn link">削除</button>
                <% end %>
              </div>
          </div>
        </div>
      <% end %>

    </div>
  <% end %>

  <% unless FiveKmRecord.where(user_id:current_user.id).present? ||
        TenKmRecord.where(user_id:current_user.id).present?  ||
        HalfRecord.where(user_id:current_user.id).present?   ||
        FullRecord.where(user_id:current_user.id).present? %>
    <div class="mt-5 text-center">
        <h2 class="record-hide-text text-dark pb-5">ベストタイムを登録しましょう！</h2>
        <%= link_to new_record_path do %>
          <button type="button" class="btn btn-success btn-lg mt-5">登録ページへ<i class="fa fa-angle-right ml-2" aria-hidden="true"></i></button>
        <% end %>
        <br>
        <%= link_to user_path(current_user), class: "text-success" do %>
          <div class="mt-5 user-link-to-edit">
            マイページへ<i class="fa fa-angle-right ml-2" aria-hidden="true"></i>
          </div>
        <% end %>
    </div>
  <% end %>

</div>