<h4>自己ベスト登録ページ</h4>
<br><br>

<%= form_with url: user_five_km_records_path(@user), local: true do |f| %>
  <div>
    <p>
      5kmの自己ベストを入力
    </p>
    <br>
    <p>
      <%= f.collection_select(:hour_id, Hour.all, :id, :name, {}) %>時間
    </p>
    <p>
      <%= f.collection_select(:minute_id, Hour.all, :id, :name, {}) %>分
    </p>
    <p>
      <%= f.collection_select(:second_id, Hour.all, :id, :name, {}) %>秒
    </p>
    <%= f.submit "登録" %>
  </div>
<% end %>