<% unless FiveKmRecord.where(user_id:current_user.id).present? %>
  <div class="content p-5">
    <%= form_with url: user_five_km_records_path(@user), local: true do |f| %>
      <div class="pulldown-time">
        <div class="title-box">
          <div class="page-title">5kmのベストタイムを登録</div>
        </div>
        <br>
        <p>
          <%= f.collection_select(:hour_id, Hour.all, :id, :name, {}) %>　: 時間
        </p>
        <p>
          <%= f.collection_select(:minute_id, Minute.all, :id, :name, {}) %>：分
        </p>
        <p>
          <%= f.collection_select(:second_id, Second.all, :id, :name, {}) %>：秒
        </p>
        <%= f.submit "登録" %>
      </div>
    <% end %>
  </div>  
  <br><br><br> 
<% end %>

<% unless TenKmRecord.where(user_id:current_user.id).present? %>
  <div class="content p-5">
    <%= form_with url: user_ten_km_records_path(@user), local: true do |f| %>
      <div class="pulldown-time">
        <div class="title-box">
          <div class="page-title">10kmのベストタイムを登録</div>
        </div>
        <br>
        <p>
          <%= f.collection_select(:hour_id, Hour.all, :id, :name, {}) %>　: 時間
        </p>
        <p>
          <%= f.collection_select(:minute_id, Minute.all, :id, :name, {}) %>：分
        </p>
        <p>
          <%= f.collection_select(:second_id, Second.all, :id, :name, {}) %>：秒
        </p>
        <%= f.submit "登録" %>
      </div>
    <% end %>
  </div> 
  <br><br><br> 
<% end %>

<% unless HalfRecord.where(user_id:current_user.id).present? %>
  <div class="content p-5">
    <%= form_with url: user_half_records_path(@user), local: true do |f| %>
      <div class="pulldown-time">
        <div class="title-box">
          <div class="page-title">ハーフマラソンのベストタイムを登録</div>
        </div>
        <br>
        <p>
          <%= f.collection_select(:hour_id, Hour.all, :id, :name, {}) %>　: 時間
        </p>
        <p>
          <%= f.collection_select(:minute_id, Minute.all, :id, :name, {}) %>：分
        </p>
        <p>
          <%= f.collection_select(:second_id, Second.all, :id, :name, {}) %>：秒
        </p>
        <%= f.submit "登録" %>
      </div>
    <% end %>
  </div> 
  <br><br><br> 
<% end %>

<% unless FullRecord.where(user_id:current_user.id).present? %>
  <div class="content p-5">
    <%= form_with url: user_full_records_path(@user), local: true do |f| %>
      <div class="pulldown-time">
        <div class="title-box">
          <div class="page-title">フルマラソンのベストタイムを登録</div>
        </div>
        <br>
        <p>
          <%= f.collection_select(:hour_id, Hour.all, :id, :name, {}) %>　: 時間
        </p>
        <p>
          <%= f.collection_select(:minute_id, Minute.all, :id, :name, {}) %>：分
        </p>
        <p>
          <%= f.collection_select(:second_id, Second.all, :id, :name, {}) %>：秒
        </p>
        <%= f.submit "登録" %>
      </div>
    <% end %>
  </div>  
<% end %>

<% if FiveKmRecord.where(user_id:current_user.id).present? &&
      TenKmRecord.where(user_id:current_user.id).present?  &&
      HalfRecord.where(user_id:current_user.id).present?   &&
      FullRecord.where(user_id:current_user.id).present? %>
  <br><br>    
  <div class="content p-5">
    <h2 class="text-white pb-5">全てのベストタイムを登録済みです！</h2>
    <p>
      <%= link_to user_path(current_user.id) do %>
        <button type="button" class="btn btn-success btn-lg">マイページへ</button>
      <% end %>  
    </p>
  </div>
<% end %>  


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>