<div class="mt-5">
  <div class="slide-titles text-center">
    <span class="text-success">＃ </span>注目の人気コース
  </div>

  <div class="row justify-content-center">
    <% @tweets_ranking.each do |tweet_ranking| %>
      <div class="mini-content col-md-6 col-lg-3">
        <%= link_to tweet_ranking do %>
          <div class="mini-slide">
            <img src="<%= tweet_ranking.place_image %>" class="mini-slide-image link">
          </div>
        <% end %>

        <div class="mini-slide-bottom">
          <strong><%= tweet_ranking.place_name.truncate(15)  %></strong>
            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <div class="mt-3">
                  <span class="like-<%= tweet_ranking.id %>">
                    <%= render partial: "render/like", locals: { tweet: tweet_ranking } %>
                  </span>
                </div>
                <div class="tweet-time mt-3">
                  <i class="fas fa-clock"></i><%= "#{time_ago_in_words(tweet_ranking.created_at)}前" %>
                </div>
              </div>
              <div>
                <%= link_to tweet_ranking.user, class: "link" do %>
                  <% if tweet_ranking.user.image.present? %>
                    <img src=<%= tweet_ranking.user.image %> class="mini-content-user-image">
                  <% else %>
                    <img src="/images/dog2.png" class="mini-content-user-image">
                  <% end %>
                <% end %>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="mini-contents-border"></div>

<div class="mt-5">
  <div class="slide-titles  text-center">
    <span class="text-success">＃ </span>初心者におすすめ
  </div>

  <div class="row justify-content-center">
    <% @tweets_beginner.each do |tweet_beginner| %>
      <div class="mini-content col-md-6 col-lg-3">
        <%= link_to tweet_beginner do %>
          <div class="mini-slide">
            <img src="<%= tweet_beginner.place_image %>" class="mini-slide-image link">
          </div>
        <% end %>

        <div class="mini-slide-bottom">
          <strong><%= tweet_beginner.place_name.truncate(15)  %></strong>
            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <div class="mt-3">
                  <span class="like-<%= tweet_beginner.id %>">
                    <%= render partial: "render/like", locals: { tweet: tweet_beginner } %>
                  </span>
                </div>
                <div class="tweet-time mt-3">
                  <i class="fas fa-clock"></i><%= "#{time_ago_in_words(tweet_beginner.created_at)}前" %>
                </div>
              </div>
              <div>
                <%= link_to tweet_beginner.user, class: "link" do %>
                  <% if tweet_beginner.user.image.present? %>
                    <img src=<%= tweet_beginner.user.image %> class="mini-content-user-image">
                  <% else %>
                    <img src="/images/dog2.png" class="mini-content-user-image">
                  <% end %>
                <% end %>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="mini-contents-border"></div>

<div class="mt-5">
  <div class="slide-titles  text-center">
    <span class="text-success">＃ </span>経験者におすすめ
  </div>

  <div class="row justify-content-center">
    <% @tweets_senior.each do |tweet_senior| %>
      <div class="mini-content col-md-6 col-lg-3">
        <%= link_to tweet_senior do %>
          <div class="mini-slide">
            <img src="<%= tweet_senior.place_image %>" class="mini-slide-image link">
          </div>
        <% end %>

        <div class="mini-slide-bottom">
          <strong><%= tweet_senior.place_name.truncate(15)  %></strong>
            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <div class="mt-3">
                  <span class="like-<%= tweet_senior.id %>">
                    <%= render partial: "render/like", locals: { tweet: tweet_senior } %>
                  </span>
                </div>
                <div class="tweet-time mt-3">
                  <i class="fas fa-clock"></i><%= "#{time_ago_in_words(tweet_senior.created_at)}前" %>
                </div>
              </div>
              <div>
                <%= link_to tweet_senior.user, class: "link" do %>
                  <% if tweet_senior.user.image.present? %>
                    <img src=<%= tweet_senior.user.image %> class="mini-content-user-image">
                  <% else %>
                    <img src="/images/dog2.png" class="mini-content-user-image">
                  <% end %>
                <% end %>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "render/tweets_items" %>

<% if user_signed_in? %>
    <div class="tweet-btn-group">
      <div class="tweet-btn-group-text">
        ↓あなたも投稿してみよう！
      </div>

      <%= link_to new_tweet_path  do %>
        <button class="btn btn-lg tweet-btn text-white link">ランニングコースを投稿</button>
      <% end %>
    </div>
  <% end %>