<%# ↓各コース分（注目、初心者、経験者）3回繰り返す %>
<% @recommended_tweets.each_with_index do |tweets, i| %>
  <div class="mt-5">

    <% case i  %>
    <% when 0 %>
      <div class="recommended-tweets-title text-center">
        <span class="text-success">＃ </span>注目の人気コース
      </div>
    <% when 1 %>
      <div class="recommended-tweets-title text-center">
        <span class="text-success">＃ </span>初心者におすすめ
      </div>
    <% when 2 %>
      <div class="recommended-tweets-title text-center">
        <span class="text-success">＃ </span>経験者におすすめ
      </div>
    <% end%>

    <div class="row justify-content-center">
      <% tweets.each_with_index do |tweet,ind| %>
        <div class="mini-content col-md-6 col-lg-3">
          <%= link_to tweet do %>
            <div class="mini-slide">
              <img src="<%= tweet.place_image %>" class="mini-slide-image">
                <p class="mini-slide-content">
                  <%= tweet.content.truncate(44) %>
                </p>
            </div>
          <% end %>
          <div class="mini-slide-bottom">
            <strong><%= tweet.place_name.truncate(15)  %></strong>
              <div class="d-flex justify-content-between">
                <div class="d-flex">
                  <div class="mt-3">
                    <span class="like-<%= tweet.id %>">
                      <%= render partial: "render/like", locals: { tweet: tweet } %>
                    </span>
                  </div>
                  <div class="tweet-time mt-3">
                    <i class="fas fa-clock"></i><%= "#{time_ago_in_words(tweet.created_at)}前" %>
                  </div>
                </div>
                <div>
                  <%= link_to tweet.user, class: "link" do %>
                    <% if tweet.user.image.present? %>
                      <img src=<%= tweet.user.image %> class="mini-content-user-image">
                    <% else %>
                      <img src="/images/dog2.png" class="mini-content-user-image">
                    <% end %>
                  <% end %>
                </div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="recommended-tweets-border"></div>
<% end %>
<%# ↑各コース分（注目、初心者、経験者）3回繰り返す %>


<div class="recommended-tweets-title text-center mt-5 mb-3">
  <span class="text-success">＃ </span>投稿一覧（最新順）
</div>

<%# 全投稿一覧の表示 %>
<%= render "render/tweets_all_content" %>
<%# %>

<%# // 投稿にカーソルを重ねると説明文表示 %>
<%= render "render/tweets_table_content" %>
<%#  %>
