<div class="row justify-content-around f-f-monospace">
  <% @tweets.each do |tweet| %>
    <div class="tweet-index-content-size col-sm-11 col-md-6 col-lg-4 ">
      <div class="bg-tweet-index-content">
        <div class="d-flex text-white">
          <div class="tweet-index-content">
            <div class="bg-white mr-1">
              <div class="tweet-index-image"> 
                  <% if tweet.user.image.present? %>
                    <%= link_to user_path(tweet.user_id) do %>
                      <img src=<%= tweet.user.image %> class = "tweet-index-image-icon ml-1 link">
                    <% end %>  
                  <% else %>
                    <%= link_to user_path(tweet.user_id) do %>
                      <img src="/images/dog2.png" class = "tweet-index-image-icon ml-1 link">
                    <% end %>  
                  <% end %>
              </div>

              <div class="ml-3">
                  <% if user_signed_in? != true || current_user.id != tweet.user_id %>
                    <div class="text-dark ml-2"><strong><%= "#{tweet.user.nickname}さん" %></strong></div>
                  <% else %>
                    <div class="text-dark ml-2"><strong>あなた</strong></div>
                  <% end %>
              </div>
            </div>

            <div class="mt-1 ml-1 text-dark">
              埼玉県<br>さいたま市
            </div>  
          </div>
          
            <div class="">
              <%= link_to tweet_path(tweet.id) do %>
                <img src="/images/place1.png" class = "place-image link">
              <% end %>  
            </div>
        </div>  

        <div class="d-flex justify-content-center mb-2">
          <div class="tweet-index-place rounded">
            大宮第三公園
          </div>  
        </div> 
    
        <div class="tweet-index-text bg-content-item rounded">
          <%= "#{tweet.content}" %>
        </div>  
    
      </div> 
    </div>
  <% end %>
</div>  