<%# 現在投稿されているランニングコースを全て表示 %>

<%# ページネーション（8つで） %>
<div class="paginate-parent mt-4">
  <div class="paginate">
    <%= paginate @tweets %>
  </div>
</div>
<%#  %>

<%# ↓コースの繰り返し表示 %>
<div class="row justify-content-center">
  <% @tweets.each do |tweet| %>
    <div class="mini-content col-md-6 col-lg-3">
      <%= link_to tweet do %>
        <div class="mini-slide">
          <img src="<%= tweet.place_image %>" class="mini-slide-image link">
        </div>
      <% end %>

      <div class="mini-slide-bottom">
        <strong><%= tweet.place_name.truncate(15)  %></strong>
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <div class="mt-3">
                <span class="like-<%= tweet.id %>">
                  <%= render partial: "render/like", locals: { tweet: tweet } %>
                </span>
              </div>
              <div class="tweet-time mt-3">
                <i class="fas fa-clock"></i><%= "#{time_ago_in_words(tweet.created_at)}前" %>
              </div>
            </div>
            <div>
              <%= link_to tweet.user, class: "link" do %>
                <% if tweet.user.image.present? %>
                  <img src=<%= tweet.user.image %> class="mini-content-user-image">
                <% else %>
                  <img src="/images/dog2.png" class="mini-content-user-image">
                <% end %>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  <% end %>
</div>
<%# ↑コースの繰り返し表示 %>

<br>

<%# ページネーション（8つで） %>
<div class="paginate-parent mb-4">
  <div class="paginate">
    <%= paginate @tweets %>
  </div>
</div>
<%#  %>
