<div class="search-container">

  <%# 検索エリア %>
  <div class="d-flex justify-content-center">
    <div class="search-group">
      <%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |f| %>
      <div class="d-flex align-items-center justify-content-center w-100">
          <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "search-input p-2 ml-4" %>
          <button type="submit" class="search-btn link"><i class="fas fa-search"></i></button>
      </div>
      <% end %>

      <div class="row mt-4">
        <% @tag_lists.each do |tag| %>
            <%= link_to tag_tweets_path(tag_id: tag.id) do %>
              <div class="tag link"><%= "＃#{tag.name}" %></div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%#  %>

  <div class="mt-5">
    <div class="recommended-tweets-title text-center">
        <%# 検索方法（フォーム入力・タグ選択）でタイトルを変える %>
        <% if @path.is('tweets#search') && params[:keyword] != '' %>
          <span class="text-success"><%= params[:keyword] %> </span>の検索結果
        <% elsif @path.is('tweets#tag_search') %>
          <span class="text-success">＃ <%= @tag.name %> </span>の検索結果
        <% else %>
          全投稿一覧
        <% end %>
    </div>

    <%# 検索対象のコースを表示 %>
    <%= render "render/tweets_all_content" %>

  </div>

</div>

<%# // 投稿にカーソルを重ねると説明文表示 %>
<%= render "render/tweets_table_content" %>
<%#  %>