<div class="content-item show-top-content p-2 rounded">
    <div class="d-flex  align-items-center justify-content-between">
        5km &nbsp; Record
          <div>
            <% if FiveKmRecord.where(user_id: params[:id]).present? %>
                　　　<%= "#{@five_km_record.minute[:name]}分" %>
                <%= "#{@five_km_record.second[:name]}秒" %>
            <% end %>  
          </div>
          <div></div><div></div><div></div>
    </div>     
    
    <div class="d-flex  align-items-center justify-content-between">
        10km Record
          <div>
            <% if TenKmRecord.where(user_id: params[:id]).present? %>
                　　　<%= "#{@ten_km_record.minute[:name]}分" %>
                <%= "#{@ten_km_record.second[:name]}秒" %>
            <% end %>
          </div>
          <div></div><div></div><div></div>
    </div>

    <div class="d-flex  align-items-center justify-content-between">
        Half　Record
          <div>
            <% if HalfRecord.where(user_id: params[:id]).present? %>
                <%= "#{@half_record.hour[:name]}時間" %>
                <%= "#{@half_record.minute[:name]}分" %>
                <%= "#{@half_record.second[:name]}秒" %>
            <% end %>
          </div>
          <div></div><div></div><div></div>
    </div>

    <div class="d-flex  align-items-center justify-content-between">
        Full　 Record
          <div>
            <% if FullRecord.where(user_id: params[:id]).present? %>
                <%= "#{@full_record.hour[:name]}時間" %>
                <%= "#{@full_record.minute[:name]}分" %>
                <%= "#{@full_record.second[:name]}秒" %>
            <% end %>
        </div>
        <div></div><div></div><div></div>
    </div>

</div>
